snippet boilerplate
# ${1:TITULO}

${2: DESCRIÇÃO DO PROJETO}

## Índice

- [Instalação](#instalação)
- [Como Utilizar](#Como Utilizar)
- [Suporte](#suporte)
- [Como Contribuir](#Como Contribuir)

## Instalação

${4}

## Como Utilizar

${5}

Feel free to remove any sections that aren't applicable to your project.

## Suporte

${6}

## Como Contribuir

${7}
endsnippet
