snippet imp
import { $1 } from '$2';
endsnippet

snippet clr
console.log(response);
endsnippet

snippet clrd
console.log(response.data);
endsnippet

snippet rd
response.data
endsnippet

snippet cons
const $1 = $2;
endsnippet
